header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(240, 240, 240);
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, auto);
  border-bottom: 1px solid silver;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 25;
}
.nav {
  position: relative;
  padding: 10px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.social-block {
  display: -ms-grid;
  display: grid;
  padding-top: 5px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
    -ms-grid-columns: (minmax(50px, 50px));
        grid-template-columns: repeat(3,minmax(50px, 50px));
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

}
nav ul{
  display: -ms-grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
 nav ul img {
  height: 50px;
  width: 50px;
}

nav ul li {
  display: block;
  list-style-type: none;
  text-decoration: none;
  margin: 0 10px;
}

nav ul a {
  display: block;
  text-decoration: none;
  color: black;
  border-radius: 20px;
}
nav #pull {  
  display: none;  
} 
nav ul a:hover {
  background-color: silver;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
#logo {
  height: 35px;
  width: 150px;
}
#nav{
   display: none;
} 
#nav svg{
width: 40px;
height: 40px;
}
#nav svg:hover{
cursor: pointer;
fill: #999;
-webkit-transition: 0.8s;
-o-transition: 0.8s;
transition: 0.8s;
-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
        transform: scale(1.2);
}
#nav svg:not(:hover){
-webkit-transition: 0.8s;
-o-transition: 0.8s;
transition: 0.8s;
}
@media (max-width : 830px) {   
  #nav{
      display: block;
      margin: 0;
      padding: 0;
  }
  nav ul{
    display: none;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-flow: row;
  }
  nav ul>li{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .social-block{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
} 
@media (min-width: 831px){
  #fix {
    display: flex !important;
  }
}