.box-1 {
    grid-area: box1;
}

.box-2 {
    grid-area: box2;
}

.box-3 {
    grid-area: box3;
}

#reviewStars-input {
    grid-area: rating;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.section-6 .box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-6 .box-1 img {
    height: 80px;
    width: 80px;
}

.section-6 .box-2 {
    text-align: center;
}

.section-6 .box-2 p:first-child {
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}

.section-6 .box-2 p:nth-child(2) {
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

.section-6 .box-2 p:nth-child(2) span {
    color: #1ac28a;
}

.section-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        ". box1 ."
        ". box2 ."
        "box3 box3 box3";
    margin: 100px 0;
}

.section-6 .box-3 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    grid-area: name;
}

#message {
    grid-area: message;
}

#submit {
    grid-area: submit;
}

#email {
    grid-area: email;
}

#name:focus,
#submit:focus,
#message:focus,
#email:focus {
    border: none;
}

.section-6 form {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, auto));
    grid-gap: 10px;
    grid-template-areas:
        "rating rating"
        "name email"
        "message message"
        "submit submit";
}

@media (max-width: 600px) {
    .section-6 form {
        grid-template-areas:
            "name"
            "email"
            "message"
            "submit";
    }
}

.section-6 .box-3 form input {
    /* width: 90%; */
    border: 1px solid silver;
    border-radius: 10px;
    padding: 10px;
}

.section-6 .box-3 form #message {
    /* width: 90%; */
    display: block;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 10px;
}

.section-6 .box-3 form #submit {
    /* width: 90%; */
    color: #fff;
    background-color: #1ac28a;
    font-size: 20px;
}

#reviewStars-input input:checked~label,
#reviewStars-input label,
#reviewStars-input label:hover,
#reviewStars-input label:hover~label {
    background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
}

#reviewStars-input {

    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    /*end of fix floating problems*/

    position: relative;
    float: left;
    transform: rotate(180deg);
}

#reviewStars-input input {
    opacity: 0;

    width: 43px;
    height: 40px;

    position: absolute;
    top: 0;
    z-index: 0;
}

#reviewStars-input input:checked~label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input label {
    background-position: 0 0;
    height: 40px;
    width: 43px;
    float: right;
    cursor: pointer;
    margin-right: 10px;

    position: relative;
    z-index: 1;
    transform: rotate(-180deg);
}

#reviewStars-input label:hover,
#reviewStars-input label:hover~label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
    transition: .4s;
}

#reviewStars-input #star-0 {
    left: 0px;
}

#reviewStars-input #star-1 {
    left: 53px;
}

#reviewStars-input #star-2 {
    left: 106px;
}

#reviewStars-input #star-3 {
    left: 159px;
}

#reviewStars-input #star-4 {
    left: 212px;
}
