#shout{
    background-color: #2d3436;
    width: 100%;
    height: 500px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Mali', cursive;
    position: relative;
}
.nondisplay{
    transition: .5s;
    display: none;
}
.container-1{
    display: flex;
}
.nondisplay2{
    display: none;
}
.left-slide, .right-slide{
    position: relative;
}
#rts, #lts{
    width:40px;
    height:40px;
    position: absolute;
}
#rts{
    bottom:230px;
    right: 10px;
}
#rts:hover{
    cursor: pointer;
    transition: .4s;
    transform: translateX(-10px) scale(1.2);
}
#lts{
    bottom: 230px;
    left:10px;
}
#lts:hover{
    cursor: pointer;
    transition: .4s;
    transform: translateX(10px) scale(1.2);
}
@media (max-width:1000px){
    #shout{
        flex-direction: column;
        height: 800px;
    }
}
#shout ul{
    list-style: none;
    text-decoration: none;
}
.date .name .message .email{
    color: #fff;
    display: inline-block;
}
#shout .date{
    color: silver;
    font-size: 12px;
}
#shout .name{
    font-size: 24px;
}
#shout .email{
    color: silver;
    font-size: 12px;
}
#shout .message{
    font-size: 40px;
    margin: 10px;
}
.name-div{
    grid-area: name-div;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.email-div{
    grid-area: email-div;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.message-div{
    grid-area: message-div;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
}
.date-div{
    grid-area: date-div;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}
.foto-div{
    grid-area: foto-div;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 5px solid rgba(240,240,240,0.5);
    border-radius: 50%;
    margin-bottom: 20px;
}
.rating-div{
    grid-area: rating-div;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.rating-div img{
    height: 10px;
    width: 10px;
}
.shout-in{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(auto,1fr));
    grid-gap: 10px;
    grid-template-areas: 
    ". foto-div foto-div ."
    "name-div email-div . rating-div"
    "message-div message-div message-div message-div"
    ". . date-div date-div";
    max-height: 450px;
}
.rating-hide {
    opacity: 0;
    float: left;
    cursor: pointer;
    height: 14px;
    width: 14px;
}

